.container-name {
    margin-top: 20px;
    margin-left: 30px;
}

.container-info {
    margin-top: 5px;
    margin-left: 30px;
}

.button {
    background-color: rgb(84, 84, 253);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    margin-left: 25px;
}