.container-wrapper {
    margin-top: 20px;
    margin-left: 40px;
}

input {
    border-radius: 3px;
    width: 200px;
    height: 30px;
    border-width: 1px;
    margin-top: 10px;
    border-color: gray;
}

textarea {
    border-radius: 3px;
    width: 200px;
    height: 100px;
    border-width: 1px;
    margin-top: 10px;
    border-color: gray;
}

.error-message {
    color: red;
    font-size: 12px;
}

.button {
    background-color: rgb(84, 84, 253);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    margin-left: 0%;
}